body {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'comic sans ms';
    font-size: 20px;
    margin: 0px;
    flex-direction: column;
}


h1 {
    text-align: center;
}

/*navigation bar*/

.navbar ul {
    overflow: hidden;
    list-style-type: none;
    background-color: #000000cd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    font-family: calibri;
    padding: 0px;
    margin: 0px;
    text-decoration-color: white;
    font-weight: bold;
    font-family: 'comic sans ms';
    
}

.navdiv a {
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
}

.navdiv a:hover {
    background-color: rgb(45, 45, 45);
}

.navdiv li {
    float: left;
}



/*dropdown menu*/
ul li ul.dropdown {
    width: 66%;
    background: rgba(0, 0, 0, 0.249);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li ul.dropdown li {
    display: block;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li a:hover {
    background-color: #000000;
}
ul li ul.dropdown li a {
    font-size: 15px; 
    color: white; 
}

/*aside menu*/
aside {
    width: 15%;
    margin: 20px;
    float: left;
    background-color: #000000cd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    padding: 7px;
    padding-bottom: 0;
    border-radius: 20px;
    font-family: 'comic sans ms', sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

.navbar-aside {
    margin: 0;
    padding: 0;
}

.navbar-aside ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.navbar-aside ul li {
    margin-bottom: 14px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.navbar-aside ul li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.navbar-aside ul li a:hover {
    background-color: #303030;
}

.navbar-aside ul li:hover {
    background-color: #303030;
    border-radius: 20px;
}



/*index page*/
.background-container {

    background-image: url('images/newest_one-transformed.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
#welcome {
    position: absolute;
    top: 15%;
    left: 57%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.992);
    text-align: center;
    font-size: 55px;
}

#hello {
    background-color: rgba(255, 255, 255, 0.382);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 15px;
    width: 550px;
    position: absolute;
    top: 35%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.992);
    text-align: center;
    font-size: 30px;
}

#introduction {
    background-color: rgba(255, 255, 255, 0.382);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    position: absolute;
    max-width: 550px;
    top: 67%;
    left: 43%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 24px;

}

#me-photo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    position: absolute;
    top: 475px;
    left: 80%;
    transform: translate(-50%, -50%);
    height: 460px;
    width: 460px;
    border-radius: 10px;
}

#ict-button {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    width: fit-content;
    height: 40px;
    left: 43%;
    top: 660px;
    transform: translate(-50%, -50%);
    background-color: #000000cd;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    
}
#line{
  border: black;
  height: 3px;
  color: #333;  
  background-color: #333;
}

.main-content{
    margin-top: 80px;
}


#introduce-me{
        background-color: #ffffff27;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
        border-radius: 20px;
        border-style: solid;
        border-color: #ffffff65;
        padding: 20px;
        max-width: fit-content;
        margin-left: 37%;
        margin-bottom: 20px;
        margin-top: 40px;
}
.main-content p{ 
        background-color: #ffffff27;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
        border-radius: 20px;
        border-style: solid;
        border-color: #ffffff65;
        padding: 20px;
        max-width: 50%;
        margin-left: 43%;
        margin-bottom: 35px;
        font-size: 18px;
        margin-top: 10px;
}
.main-content h3{
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
        border-radius: 20px;
        border-style: solid;
        border-color: #ffffff65;
        padding: 20px;
        max-width: 50%;
        margin-left: 43%;
        margin-bottom: 20px;
        font-size: 20px;
        margin-top: 10px;
}
.main-content ul li{
    margin-left: 10px;
    margin-bottom: 3px;
}


/*profile page*/
#profile-header {
    background-color: #ffffff2f;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 49%;
}

.profile-page {
    background-color: #ffffff2f;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    text-align: left;
    width: 75%;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 50px;
}
.profile-info ul li {
    width: 250px;
}

.profile-info {
    font-family: 'comic sans ms';
    padding-left: 20px;
}

#profile-info {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

.images-profile {
    margin-left: 320px;
    margin-top: -35%;
}

.images-profile img {
    width: 250px;
    margin: 5px;
    margin-top: 25px;
    border-radius: 10px;
}

.div-videos {
    font-family: calibri;
    padding: 20px;
    margin: 8%;
    margin-bottom: 0;
    margin-top: 0;
}

#watch-videos {
    text-align: center;
    margin-bottom: 30px;
    background-color: #010000e3;
    color: #dddddd;
    padding: 20px;
    width: fit-content;
    margin-left: 20%;
    border-radius: 5px;
    margin-top: 0;
}

iframe {
    border-radius: 30px;
    padding: 2px;
}

.descriptions-section {
    margin-left: 60%;
    margin-top: -105%;
    font-family: 'comic sans ms';
    font-size: 17px;
}

.descriptions-section p {
    margin-bottom: 50px;
}

#video-header {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

#profile-hr {
    border-color: #000000;
}

/*dashboard page*/
.dashboard-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: 'comic sans ms', sans-serif;
    min-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10%;

}

#dashboard-header {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    width: fit-content;
    float: center;
    margin-left: 50%;
    padding: 15px;
}

.main-dashboard {
    max-width: 75%;
    float: right;
}

.dashboard-table th {
    padding: 22px;
    text-align: left;
}

.dashboard-table tr {
    border-bottom: 1px solid #dddddd;
}

.dashboard-table tr:last-of-type {
    border-bottom: 2px solid #000000;
}

.dashboard-table td {
    padding: 22px;
    text-align: left;
}

thead {
    text-align: center;
}

#dash-header-1 {
    background-color: #000000e0;
    color: #ffffff;
    text-align: center;
}

#dash-header-1 td {
    padding: 15px;
    text-align: center;
}

#td-table-part1 {
    text-align: center;
}

#dash-header-2 {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#dash-header-2 td {
    padding: 15px;
    text-align: center;
}



/*table in the blog page*/
#blog-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    margin-left: 13%;
    padding: 15px;
}

.table-blog {
    margin-right: 20px;
    margin-bottom: 50px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.748);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'comic sans ms';;
}


.table-blog th,
.table-blog td {
    padding: 10px;
    padding-left: 40px;
    text-align: left;
    vertical-align: top;
}

.table-blog th {
    background-color: #000101c6;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #060a0f;
}

.table-blog td {
    background-color: #ffffff6f;
    color: #000000;
    border-bottom: 1px solid #dddddd;
    padding-top: 20px;
}

.td-blog img {
    width: 80%;
    margin-left: 9%;
}

.table-blog a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.table-blog a:hover {
    text-decoration: underline;
}

/*pages section in the blog table*/
summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #000000;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}

.div-questions {
    background-color: #303030;
    color: #fff;
    font-size: 1.5rem;

}



/*my choice activities page*/
#my-choice {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    margin-left: 40%;
    padding: 15px;
}

.main-my-choice {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    margin-bottom: 20px;
    font-size: 18px;
}

#my-choice-header {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

/*programming exeprience page*/
#programming-header {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 43%;
}

.main-programming {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    margin-bottom: 20px;
    font-size: 18px;
}

.programming-section {
    width: 50%;
}

#img-coding {
    position: absolute;
    width: 500px;
    height: 350px;
    margin-top: 75px;
    margin-left: 550px;
    border-radius: 10px;
}

.text-para {
    text-align: justify;
    margin: 20px;
}

#ul-programming-exp a {
    color: #0c5196;
    text-decoration: none;
    font-weight: bold;
}

#ul-programming-exp a:hover {
    text-decoration: underline;
    background-color: transparent;

}

/*my pesronal swot analysis page*/
#swot-header {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 43%;
}

.main-swot {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    padding-bottom: 50%;
    margin-bottom: 20px;
    font-size: 18px;
}

#swot-sub-header {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

#swot-para {
    width: 60%;
}

.swot-bullet {
    margin-left: 70%;
    margin-top: -1442px;
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 18px;
}

#summary-swot-h {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
    margin-left: 80px;
    font-size: 18px;
}

/*ict field of work*/
#ict-header {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 43%;
}

.main-ict {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    margin-bottom: 20px;
}

.main-ict a {
    color: #385ee7fb;
    text-decoration: none;
    font-weight: bold;
}

.main-ict a:hover {
    background-color: transparent;
}

#ict-work-h {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

/*feedback page*/
.main-feedback {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
}
.main-feedback h4{
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

#feedback-header {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 45%;
}

/*faq page*/
.main-faq {
    max-width: 45%;
    float: right;
    font-family: calibri;
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    padding: 50px;
    margin-right: 19%;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#questions-header {
    background-color: #ffffff27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.538);
    border-radius: 20px;
    width: fit-content;
    float: center;
    margin-left: 50%;
    padding: 15px;
}

/*footer*/
footer {
    position: relative;
    width: 100%;
    background-color: #000000cd;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px; 
    clear: both; 
}
footer p{
    color:white;
    text-align: left;

}

footer a {
    color: #fffdfd;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

