body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0px;
    flex-direction: column;
}



h1 {
    text-align: center;
}

/*navigation bar*/

.navbar ul {
    overflow: hidden;
    list-style-type: none;
    background-color: black;
    font-family: calibri;
    padding: 0px;
    margin: 0px;
    text-decoration-color: white;
    font-weight: bold;

}

.navdiv a {
    color: white;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
}

.navdiv a:hover {
    background-color: rgb(45, 45, 45);
}

.navdiv li {
    float: left;
}



/*dropdown menu*/
ul li ul.dropdown {
    width: 100%;
    background: rgba(0, 0, 0, 0.249);
    position: absolute;
    z-index: 999;
    display: none;
}

ul li ul.dropdown li {
    display: block;
}

ul li:hover ul.dropdown {
    display: block;
}

ul li a:hover {
    background-color: #000000;
}



/*aside menu*/
aside {
    width: 15%;
    margin: 20px;
    float: left;
    font-family: 'Calibri';
    background: black;
    padding: 7px;
    padding-bottom: 0;
    border-radius: 20px;
}

.navbar-aside {
    margin: 0;
    padding: 0;
}

.navbar-aside ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.navbar-aside ul li {
    margin-bottom: 14px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.navbar-aside ul li a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.navbar-aside ul li a:hover {
    background-color: #303030;
}

.navbar-aside ul li:hover {
    background-color: #303030;
    border-radius: 20px;
}



/*index page*/
#welcome {
    width: fit-content;

}

#welcome {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 5px;
    width: fit-content;
    float: center;
    margin-left: 50%;
    padding: 15px;
}

.profile-table {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    float: right;
    font-family: calibri;
    margin-right: 9%;
    margin-top: 10px;

}

.profile-table th,
.profile-table td {
    padding: 20px;
    text-align: left;
    vertical-align: top;
}

.profile-table th {
    background-color: #090c0e;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #060a0f;
}

.profile-table td {
    background-color: #ffffff;
    color: #333333;
    border-bottom: 1px solid #dddddd;

}

.profile-table tr:hover {
    background-color: #f9f9f9;
}

.profile-table a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.profile-table a:hover {
    text-decoration: underline;
}

.images-cell {
    text-align: center;

}

.images-cell img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


/*table in the profile page*/
#profile-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 49%;
}

.profile-page {
    text-align: left;
    width: 75%;
    margin-left: 20%;
    margin-right: 25%;
    margin-bottom: 50px;
}

.profile-page {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 10px;

}

.profile-info {
    font-family: calibri;
    padding-left: 20px;
}

#profile-info {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

.images-profile {
    margin-left: 300px;
    margin-top: -30%;
}

.images-profile img {
    width: 250px;
    margin: 5px;
    margin-top: 25px;
    border-radius: 10px;
}

.div-videos {
    font-family: calibri;
    padding: 20px;
    margin: 8%;
    margin-bottom: 0;
    margin-top: 0;
}

#watch-videos {
    text-align: center;
    margin-bottom: 30px;
    background-color: #010000;
    color: #dddddd;
    padding: 20px;
    width: fit-content;
    margin-left: 20%;
    border-radius: 5px;
    margin-top: 0;
}

iframe {
    border-radius: 30px;
    padding: 2px;
}

.descriptions-section {
    margin-left: 60%;
    margin-top: -105%;
}

.descriptions-section p {
    margin-bottom: 50px;
}

#video-header {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

#profile-hr {
    border-color: #000000;
}

/*dashboard page*/
.dashboard-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10%;

}

#dashboard-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    margin-left: 50%;
    padding: 15px;
}
.main-dashboard {
    max-width: 75%;
    float: right;
}

.dashboard-table th {
    padding: 22px;
    text-align: left;
}
.dashboard-table tr {
    border-bottom: 1px solid #dddddd;
}
.dashboard-table tr:last-of-type {
    border-bottom: 2px solid #000000;
}
.dashboard-table td {
    padding: 22px;
    text-align: left;
}

thead {
    text-align: center;
}

#dash-header-1 {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#dash-header-1 td {
    padding: 15px;
    text-align: center;
}
#td-table-part1 {
    text-align: center;
}

#more-courses-header {
    font-size: 20px;
}

#more-courses-tr td {
    text-align: center;
}

#dash-header-2 {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#dash-header-2 td {
    padding: 15px;
    text-align: center;
}



/*table in the blog page*/
#blog-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    margin-left: 13%;
    padding: 15px;
}
.table-blog {
    margin-right: 20px;
    margin-bottom: 50px;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: calibri;
}

.table-blog tr:hover {
    background-color: #f9f9f9;
}

.table-blog th,
.table-blog td {
    padding: 10px;
    padding-left: 40px;
    text-align: left;
    vertical-align: top;
}

.table-blog th {
    background-color: #000101;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid #060a0f;
}

.table-blog td {
    background-color: #ffffff;
    color: #333333;
    border-bottom: 1px solid #dddddd;
    padding-top: 20px;
}

.td-blog img {
    width: 80%;
    margin-left: 9%;
}

.table-blog a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.table-blog a:hover {
    text-decoration: underline;
}

/*pages section in the blog table*/
summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    border-bottom: 1px solid #000000;
    margin-bottom: .5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: .5em 1em;
}

.div-questions {
    background-color: #303030;
    color: #fff;
    font-size: 1.5rem;

}



/*my choice activities page*/
#my-choice {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    margin-left: 40%;
    padding: 15px;
}

.main-my-choice {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    margin-bottom: 20px;
}

#my-choice-header {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

/*programming exeprience page*/
#programming-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 43%;
}
.main-programming {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    margin-bottom: 20px;
}

.programming-section {
    width: 50%;
}

#img-coding {
    position: absolute;
    width: 500px;
    height: 350px;
    margin-top: 75px;
    margin-left: 550px;
    border-radius: 10px;
}

.text-para {
    text-align: justify;
    margin: 20px;
}
#ul-programming-exp a {
    color: #0c5196;
    text-decoration: none;
    font-weight: bold;
}

#ul-programming-exp a:hover {
    text-decoration: underline;
    background-color: transparent;

}

/*my pesronal swot analysis page*/
#swot-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 43%;
}

.main-swot {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    padding-bottom: 40%;
    margin-bottom: 20px;
}

#swot-sub-header {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

#swot-para {
    width: 60%;
}

.swot-bullet {
    margin-left: 70%;
    margin-top: -1242px;
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    padding-left: 10px;
}

#summary-swot-h {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
    margin-left: 80px;
}

/*ict field of work*/
#ict-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 43%;
}

.main-ict {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
    margin-bottom: 20px;
}

.main-ict a {
    color: #385ee7fb;
    text-decoration: none;
    font-weight: bold;
}

.main-ict a:hover {
    background-color: transparent;
}

#ict-work-h {
    border-style: ridge;
    border-color: #000000;
    border-radius: 10px;
    border-width: 2px;
    width: fit-content;
    padding: 5px;
}

/*feedback page*/
.main-feedback {
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 20px;
    max-width: 70%;
    margin-left: 22%;
}

#feedback-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    padding: 15px;
    margin-left: 45%;
}

/*faq page*/
.main-faq {
    max-width: 45%;
    float: right;
    font-family: calibri;
    background-color: #ffffff27;
    border-radius: 20px;
    padding: 50px;
    margin-right: 19%;
    margin-bottom: 50px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#questions-header {
    background-color: #ffffff27;
    border-radius: 20px;
    width: fit-content;
    float: center;
    margin-left: 50%;
    padding: 15px;
}























/*footer*/

footer {
    background-color: rgb(0, 0, 0);
    color: #ffffffdc;
    text-align: center;
    padding: 1px;
}

footer p {
    padding: 0px;
    margin: 5px;
    font-size: 12px;
    text-align: left;
}

footer a {
    color: #ffffffdc;
    text-decoration: none;
    padding: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
.images {
    text-align: center;
}

.images img {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.div-questions {
    background-color: #303030;
    color: #fff;
    font-size: 1.5rem;
}